.events {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $padding-top-section;

  &__items {
    width: 100%;

    &-item {
      width: 45%;
      display: inline-block;
      text-align: center;
      margin: 3% 0;
      position: relative;

      img {
        width: 50%;
      }
    }

    .item--hover {
        display: none;
        width: 50%;
        height: 238.41px;
        position: absolute;
        top: 0;
        left: 25%;
        background-color: $background-color-hover;
        text-align: center;

      p {
        line-height: 1200%;
        color: #FFFFFF;
        font-size: $font-size-li;
      }
    }

    a:hover .item--hover {
      display: inline;
    }
  }
}