//
// _global.scss defines html, body, headlines(h1-h4)
// and a elements style.
//

*, *:before, *:after {
  box-sizing: border-box;
  list-style: none;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  background-color: $background-color-body;
  width: 100%;
}

// For IE Hack
main {
  display: block;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
