.main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 5%;

  &__left {
    width: 50%;
    display: inline;

    h1 {
      font-family: $serif-h1;
      font-size: $font-size-h1;
      line-height: $line-height-section-font;
    }
  }

  &__right {
    width: 50%;
    display: inline-block;
  }
}