.qa {
  padding-top: $padding-top-section;
}

.qa-lists {

  li {
    width: 100%;
    line-height: 300%;
    position: relative;
    border: 2px solid $font-color;
    border-bottom: none;
    text-align: center;
  }

  li:nth-child(5) {
    border-bottom: 2px solid $font-color;
  }
}

.question {
    display: inline-block;

    p {
      font-size: $font-size-p;
      display: inline-block;
    }

    span {
      width: 30px;
      position: absolute;
      top: 20%;
      right: 2%;
      color: #000;
    }
}

  .answer {
    display: none;
    width: 100%;

    li {
      width: 100%;
      border-bottom: 2px solid $font-color;
    }
  }