.qa {
  padding-top: $padding-top-section;
}

.parent {

  li {
    width: 100%;
    line-height: 300%;
    position: relative;
    border: 2px solid $font-color;
    border-bottom: none;
    text-align: center;
    }

    li:nth-child(5) {
      border-bottom: 2px solid $font-color;
    }

  &__contents {
    display: inline-block;

    p {
      font-size: $font-size-p;
      display: inline-block;
    }

    img {
      width: 30px;
      position: absolute;
      top: 20%;
      right: 2%;
    }

    &--click.active img {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      transition: all 0.8s;
    }
  }
}

.child {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  transform: translateY(-100%);
  z-index: 2;
  transition: all 0.8s;

  li {
    width: 100%;
    border-bottom: 2px solid $font-color;
  }

  &.active {
    transform: translateY(0%);
  }
}