
// _typography.scss defined everything about font-family


// font-family
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
// @import url('https://fonts.googleapis.com/css?family=Jaldi');
@import url('https://fonts.googleapis.com/css?family=Hind+Vadodara');

// $sans-base: 'Jaldi', sans-serif;
$sans-base: 'Hind Vadodara', sans-serif;
$serif-h: 'Crimson Text', serif;
$sans-header-footer: 'Montserrat', sans-serif;


// font-color
$font-color-base: #707070;
$font-color-white: #FFFFFF;

// font-size:
$font-base-size: 16px;
$font-size-h1: 2.5rem;
$font-size-p: 1.2rem;
$font-size-li: 1.4rem; 


//font-weight
$font-weight-light: lighter;


html {
	font-family: $sans-base;
	font-size: $font-base-size;
	line-height: 1.2;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	font-variant-ligatures: common-ligatures;
	color: $font-color-base;
}